.AM001 {
  background-color: #d5d716;
}

.AM002 {
  background-color: #fed877;
}

.AM003 {
  background-color: #cb8e17;
}

.AM004 {
  background-color: #f9ac30;
}

.AM005 {
  background-color: #ffc66e;
}

.AM006 {
  background-color: #c3d363;
}

.AM007 {
  background-color: #f6e199;
}

.AM008 {
  background-color: #e2a82a;
}

.AM009 {
  background-color: #eddd59;
}

.AM010 {
  background-color: #efe1a7;
}

.AM040 {
  background-color: #f0e87c;
}

.AM041 {
  background-color: #dd9c6b;
}

.AM046 {
  background-color: #a76f1f;
}

.AM064 {
  background-color: #c19552;
}

.AM068 {
  background-color: #dfb19b;
}

.AM069 {
  background-color: #ffd02f;
}

.AM108 {
  background-color: #fcb953;
}

.AM200 {
  background-color: #ffd663;
}

.AM283 {
  background-color: #fdc04e;
}

.AM316 {
  background-color: #ffff99;
}

.AM338 {
  background-color: #d08344;
}

.AM353 {
  background-color: #ffda2a;
}

.AM391 {
  background-color: #efdc76;
}

.AM408 {
  background-color: #e4bf45;
}

.AM409 {
  background-color: #f9ac30;
}

.AM448 {
  background-color: #cd7e4d;
}

.AM460 {
  background-color: #b0885b;
}

.AM461 {
  background-color: #f0e79d;
}

.AM487 {
  background-color: #e6ff33;
}

.AM493 {
  background-color: #d2b04c;
}

.AM504 {
  background-color: #dae55c;
}

.AM517 {
  background-color: #ffd02f;
}

.AM545 {
  background-color: #fae199;
}

.AM732 {
  background-color: #907954;
}

.AM746 {
  background-color: #f7d001;
}

.AM747 {
  background-color: #fdd878;
}

.AM901 {
  background-color: #daff00;
}

.AM905 {
  background-color: #c7e517;
}

.AZ001 {
  background-color: #0079a7;
}

.AZ002 {
  background-color: #539ccc;
}

.AZ003 {
  background-color: #1a5190;
}

.AZ004 {
  background-color: #4f7ca4;
}

.AZ005 {
  background-color: #0075b3;
}

.AZ006 {
  background-color: #2a6a8b;
}

.AZ008 {
  background-color: #5b7e98;
}

.AZ009 {
  background-color: #233a5f;
}

.AZ010 {
  background-color: #5b7ebd;
}

.AZ011 {
  background-color: #b8e2dc;
}

.AZ012 {
  background-color: #44bbca;
}

.AZ013 {
  background-color: #204477;
}

.AZ014 {
  background-color: #6d8994;
}

.AZ015 {
  background-color: #a3bdd3;
}

.AZ062 {
  background-color: #1f4477;
}

.AZ121 {
  background-color: #4d91c6;
}

.AZ163 {
  background-color: #58c9d4;
}

.AZ251 {
  background-color: #4f85c3;
}

.AZ315 {
  background-color: #1e5da0;
}

.AZ370 {
  background-color: #5979a2;
}

.AZ384 {
  background-color: #353148;
}

.AZ390 {
  background-color: #4abbd5;
}

.AZ395 {
  background-color: #262f40;
}

.AZ398 {
  background-color: #0173b5;
}

.AZ410 {
  background-color: #3d3c7c;
}

.AZ412 {
  background-color: #516886;
}

.AZ418 {
  background-color: #5b7ebd;
}

.AZ422 {
  background-color: #76afb6;
}

.AZ423 {
  background-color: #1e5da0;
}

.AZ435 {
  background-color: #87c2d4;
}

.AZ441 {
  background-color: #748995;
}

.AZ442 {
  background-color: #1f495b;
}

.AZ443 {
  background-color: #0061a3;
}

.AZ444 {
  background-color: #203c7f;
}

.AZ453 {
  background-color: #3686a0;
}

.AZ454 {
  background-color: #3686a0;
}

.AZ455 {
  background-color: #015871;
}

.AZ483 {
  background-color: #00838c;
}

.AZ485 {
  background-color: #30658e;
}

.AZ489 {
  background-color: #4381bf;
}

.AZ502 {
  background-color: #233658;
}

.AZ503 {
  background-color: #00819d;
}

.AZ511 {
  background-color: #81d7d3;
}

.AZ513 {
  background-color: #005780;
}

.AZ525 {
  background-color: #243f6c;
}

.AZ527 {
  background-color: #8cacd3;
}

.AZ543 {
  background-color: #0ba8d8;
}

.AZ730 {
  background-color: #93b4d7;
}

.AZ739 {
  background-color: #3cadd4;
}

.AZ741 {
  background-color: #01abc0;
}

.AZ751 {
  background-color: #0e4c81;
}

.AZ755 {
  background-color: #007bb2;
}

.BD001 {
  background-color: #80304c;
}

.BD399 {
  background-color: #7c2846;
}

.BD450 {
  background-color: #6b2e2a;
}

.BD451 {
  background-color: #65242e;
}

.BD495 {
  background-color: #65242e;
}

.BD499 {
  background-color: #402323;
}

.BC001 {
  background-color: #ffffff;
}

.CZ001 {
  background-color: #5f575d;
}

.CZ002 {
  background-color: #928475;
}

.CZ038 {
  background-color: #a3a9a6;
}

.CZ100 {
  background-color: #3c3f4a;
}

.CZ164 {
  background-color: #a3a9a6;
}

.CZ167 {
  background-color: #274374;
}

.CZ203 {
  background-color: #7f7c81;
}

.CZ276 {
  background-color: #66676d;
}

.CZ282 {
  background-color: #505659;
}

.CZ351 {
  background-color: #46434a;
}

.CZ364 {
  background-color: #aeb2b5;
}

.CZ535 {
  background-color: #595e6f;
}

.CZ752 {
  background-color: #6b7169;
}

.CZ760 {
  background-color: #bfcad6;
}

.CM001 {
  background-color: #cac2b9;
}

.CM002 {
  background-color: #bca483;
}

.CM003 {
  background-color: #d8b998;
}

.CM004 {
  background-color: #d8ccbb;
}

.CM005 {
  background-color: #b8a99a;
}

.CM167 {
  background-color: #484849;
}

.CM217 {
  background-color: #dbcbbe;
}

.CM324 {
  background-color: #f1e9df;
}

.CM432 {
  background-color: #cdc6bd;
}

.CM438 {
  background-color: #fed1bd;
}

.CM739 {
  background-color: #c5c5c5;
}

.LR001 {
  background-color: #f36944;
}

.LR002 {
  background-color: #fe6447;
}

.LR003 {
  background-color: #f56c73;
}

.LR004 {
  background-color: #f99471;
}

.LR005 {
  background-color: #ff7f6a;
}

.LR006 {
  background-color: #ff9244;
}

.LR007 {
  background-color: #ff8c54;
}

.LR047 {
  background-color: #d16f52;
}

.LR148 {
  background-color: #dd4124;
}

.LR246 {
  background-color: #de8e65;
}

.LR265 {
  background-color: #ea6b6a;
}

.LR284 {
  background-color: #c34121;
}

.LR352 {
  background-color: #ff9f8c;
}

.LR357 {
  background-color: #ff661a;
}

.LR386 {
  background-color: #eb3c27;
}

.LR401 {
  background-color: #99402e;
}

.LR414 {
  background-color: #f2552c;
}

.LR415 {
  background-color: #eb3c27;
}

.LR430 {
  background-color: #ff8576;
}

.LR447 {
  background-color: #ff7520;
}

.LR459 {
  background-color: #ff7520;
}

.LR492 {
  background-color: #a14d3a;
}

.LR496 {
  background-color: #d96c75;
}

.LR505 {
  background-color: #ff9f40;
}

.LR518 {
  background-color: #cc6069;
}

.LR541 {
  background-color: #c2452d;
}

.LR710 {
  background-color: #ffaea5;
}

.LR720 {
  background-color: #f48037;
}

.LR912 {
  background-color: #ff661a;
}

.MR001 {
  background-color: #a0714f;
}

.MR002 {
  background-color: #9f5130;
}

.MR003 {
  background-color: #9e4624;
}

.MR004 {
  background-color: #ad6d68;
}

.MR034 {
  background-color: #6e493a;
}

.MR191 {
  background-color: #e8a798;
}

.MR247 {
  background-color: #865e48;
}

.MR431 {
  background-color: #ad8b75;
}

.MR720 {
  background-color: #824d46;
}

.MC090 {
  background-color: #ede6db;
}

.MC303 {
  background-color: #7e7d88;
}

.MC340 {
  background-color: #9f9586;
}

.MC402 {
  background-color: #323137;
}

.MC481 {
  background-color: #ced3d9;
}

.MC501 {
  background-color: #c5c6c7;
}

.MC506 {
  background-color: #848283;
}

.PT002 {
  background-color: #000000;
}

.RS001 {
  background-color: #ec9abe;
}

.RS002 {
  background-color: #eed4d9;
}

.RS003 {
  background-color: #9e2c6a;
}

.RS004 {
  background-color: #d42e5b;
}

.RS005 {
  background-color: #c84b61;
}

.RS006 {
  background-color: #d77f70;
}

.RS007 {
  background-color: #d75c5d;
}

.RS008 {
  background-color: #a52350;
}

.RS009 {
  background-color: #ddb6ac;
}

.RS010 {
  background-color: #ec809e;
}

.RS011 {
  background-color: #f18aad;
}

.RS012 {
  background-color: #d4367a;
}

.RS014 {
  background-color: #e6c5ca;
}

.RS015 {
  background-color: #d45d8d;
}

.RS016 {
  background-color: #ce8498;
}

.RS017 {
  background-color: #ffc4bc;
}

.RS018 {
  background-color: #e0a1b9;
}

.RS019 {
  background-color: #ce8f8b;
}

.RS037 {
  background-color: #dfb19b;
}

.RS176 {
  background-color: #dfb19b;
}

.RS186 {
  background-color: #ed9ca8;
}

.RS204 {
  background-color: #e04f81;
}

.RS231 {
  background-color: #d1969a;
}

.RS232 {
  background-color: #df88b7;
}

.RS245 {
  background-color: #f1a9cc;
}

.RS252 {
  background-color: #f7969f;
}

.RS253 {
  background-color: #efbed4;
}

.RS262 {
  background-color: #fdb2a8;
}

.RS264 {
  background-color: #f7969f;
}

.RS310 {
  background-color: #ce8f8b;
}

.RS323 {
  background-color: #cb3373;
}

.RS348 {
  background-color: #cb3373;
}

.RS368 {
  background-color: #d9a6a1;
}

.RS374 {
  background-color: #a32857;
}

.RS397 {
  background-color: #ee5c6c;
}

.RS400 {
  background-color: #d42e5b;
}

.RS403 {
  background-color: #e35b8f;
}

.RS404 {
  background-color: #e96a97;
}

.RS411 {
  background-color: #edd0ce;
}

.RS413 {
  background-color: #efa6aa;
}

.RS416 {
  background-color: #fc8f9c;
}

.RS417 {
  background-color: #e4455e;
}

.RS421 {
  background-color: #de98ab;
}

.RS425 {
  background-color: #d32e5e;
}

.RS426 {
  background-color: #d02d71;
}

.RS427 {
  background-color: #e04f81;
}

.RS428 {
  background-color: #ffaea5;
}

.RS436 {
  background-color: #f8c1cc;
}

.RS437 {
  background-color: #ff99c3;
}

.RS439 {
  background-color: #ee6d8a;
}

.RS440 {
  background-color: #e35b8f;
}

.RS458 {
  background-color: #e0c7d7;
}

.RS484 {
  background-color: #c0428a;
}

.RS486 {
  background-color: #c79685;
}

.RS505 {
  background-color: #e5cfcf;
}

.RS507 {
  background-color: #ed7a9e;
}

.RS508 {
  background-color: #f3bbca;
}

.RS509 {
  background-color: #b61c50;
}

.RS514 {
  background-color: #ffc4b2;
}

.RS515 {
  background-color: #e78b90;
}

.RS516 {
  background-color: #f8d7dd;
}

.RS520 {
  background-color: #f5d7f0;
}

.RS522 {
  background-color: #f291a1;
}

.RS523 {
  background-color: #f26db0;
}

.RS539 {
  background-color: #ecb2b3;
}

.RS540 {
  background-color: #a73340;
}

.RS546 {
  background-color: #fdc3c6;
}

.RS560 {
  background-color: #ff5ab1;
}

.RS750 {
  background-color: #ff8293;
}

.RS756 {
  background-color: #ffa6c3;
}

.RS857 {
  background-color: #e9d4c4;
}

.RS923 {
  background-color: #ff8d98;
}

.RS925 {
  background-color: #ffb3db;
}

.RS927 {
  background-color: #e673ac;
}

.RS929 {
  background-color: #ff4da6;
}

.RS1514 {
  background-color: #d69fa2;
}

.RX001 {
  background-color: #9d7bb0;
}

.RX002 {
  background-color: #926aa6;
}

.RX003 {
  background-color: #a64f82;
}

.RX004 {
  background-color: #d198c5;
}

.RX005 {
  background-color: #823d99;
}

.RX006 {
  background-color: #b793c0;
}

.RX090 {
  background-color: #8f7da5;
}

.RX160 {
  background-color: #d687ba;
}

.RX235 {
  background-color: #9c4c8d;
}

.RX256 {
  background-color: #afa4ce;
}

.RX287 {
  background-color: #d687ba;
}

.VD001 {
  background-color: #547053;
}

.VD002 {
  background-color: #b5b744;
}

.VD003 {
  background-color: #007d6a;
}

.VD004 {
  background-color: #264e36;
}

.VD005 {
  background-color: #6bcd9c;
}

.VD006 {
  background-color: #756d47;
}

.VD007 {
  background-color: #4f7c74;
}

.VD009 {
  background-color: #b2e79f;
}

.VD010 {
  background-color: #00746c;
}

.VD011 {
  background-color: #444940;
}

.VD012 {
  background-color: #274e55;
}

.VD013 {
  background-color: #b9eab3;
}

.VD014 {
  background-color: #40a48d;
}

.VD015 {
  background-color: #008e80;
}

.VD016 {
  background-color: #d5e525;
}

.VD017 {
  background-color: #6a6f34;
}

.VD018 {
  background-color: #aac0ad;
}

.VD067 {
  background-color: #4f7c74;
}

.VD107 {
  background-color: #68bcb3;
}

.VD170 {
  background-color: #788f74;
}

.VD190 {
  background-color: #006d70;
}

.VD207 {
  background-color: #44883c;
}

.VD213 {
  background-color: #358081;
}

.VD229 {
  background-color: #87d8c3;
}

.VD258 {
  background-color: #203b3d;
}

.VD289 {
  background-color: #45b5aa;
}

.VD307 {
  background-color: #8fab3a;
}

.VD336 {
  background-color: #36503d;
}

.VD383 {
  background-color: #4db560;
}

.VD405 {
  background-color: #646049;
}

.VD406 {
  background-color: #007a8e;
}

.VD407 {
  background-color: #81d7d3;
}

.VD419 {
  background-color: #009b75;
}

.VD420 {
  background-color: #81d7d3;
}

.VD433 {
  background-color: #a0daa9;
}

.VD434 {
  background-color: #495e35;
}

.VD445 {
  background-color: #009b5b;
}

.VD446 {
  background-color: #444940;
}

.VD456 {
  background-color: #01b89f;
}

.VD457 {
  background-color: #afddcc;
}

.VD482 {
  background-color: #c2f2ea;
}

.VD488 {
  background-color: #009b8c;
}

.VD490 {
  background-color: #00585e;
}

.VD498 {
  background-color: #007c7a;
}

.VD521 {
  background-color: #a1e5b2;
}

.VD526 {
  background-color: #29332d;
}

.VD538 {
  background-color: #5a7247;
}

.VD542 {
  background-color: #b2cfbe;
}

.VD545 {
  background-color: #1aff40;
}

.VD749 {
  background-color: #acff74;
}

.VD750 {
  background-color: #acff74;
}

.VD760 {
  background-color: #a3a04d;
}

.VD935 {
  background-color: #a3a04d;
}

.VD937 {
  background-color: #00d848;
}

.VD939 {
  background-color: #99ff99;
}

.VM001 {
  background-color: #be132d;
}

.VM002 {
  background-color: #9b1b30;
}

.VM003 {
  background-color: #dc343b;
}

.VM004 {
  background-color: #c71f2d;
}

.VM168 {
  background-color: #d9615b;
}

.VM237 {
  background-color: #985f68;
}

.VM385 {
  background-color: #ae0f36;
}

.VM449 {
  background-color: #aa0a26;
}

.VM494 {
  background-color: #962d49;
}
