.VM001 {
  background-color: #ff0000;
}

.LR001 {
  background-color: #ff8000;
}

.AM001 {
  background-color: #ffff00;
}

.VD001 {
  background-color: #00ff00;
}

.TR001 {
  background-color: #00ff80;
}

.CI001 {
  background-color: #0080ff;
}

.AZ001 {
  background-color: #0000ff;
}

.RX001 {
  background-color: #8000ff;
}

.RS001 {
  background-color: #ff00ff;
}