body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ccc;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
  padding: 15px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.wrapper {
  margin-top: 10px;
  display: flex;
}

nav {
  margin: 10px 10px 0 20px;
}

nav>div>select,
nav>div>p,
nav>div>input {
  width: 250px;
}

main {
  margin: 20px;
  flex-grow: 1;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.painel-contador {
  text-align: center;
}

#contador{
  font-weight: 700;
}

.lista-cartela {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
}

.filtro-container {
  display: flex;
  align-items: center;
}

.filtro-descricao {
  font-weight: 500;
}

#filtro-cores {
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#filtro-colecoes {
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#filtro-cores:hover,
#filtro-colecoes:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.limpar-filtros {
  font-size: 14px;
  cursor: pointer;
  background-color: hsl(200, 100%, 95%);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.01);
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
}

.material-symbols-outlined {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 5px;
}

.limpar-filtros:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

#searchInput {
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.mensagem-erro {
  display: none;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  font-size: 22px;
}

.cartela {
  background-color: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}


.codigo {
  padding: 15px;
  font-weight: 500;
}

.linha {
  width: 100%;
  height: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.descricao {
  font-weight: bold;
}

.btn-copiar {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 10px;
}

.btn-copiar:hover {
  transform: scale(1.2);
}

.btn-copiar:active {
  transform: scale(1);
}

.iconecopiar {
  width: 18px;
}

.btn-salvar {
  cursor: pointer;
  background: none;
  border: none;
}

.btn-salvar:hover {
  transform: scale(1.2);
}

.btn-salvar:active {
  transform: scale(1);
}

.iconesalvar {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 32px;
  margin-top: 15px;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #888;
}

.aviso-popup {
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  z-index: 9999;
  opacity: 0;
  animation: popup 2s ease-in-out forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(-10px);
  }

  80% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}